<section class="mb-20">
  <h2 class="text-lg md:text-2xl font-semibold mb-1">Over mij</h2>
  <hr class="mb-4 border-zinc-600" />
  <p
    class="leading-7 md:leading-8 text-base md:text-lg text-pretty mb-3 text-zinc-400"
  >
    Ik hou van analyseren, structureren en optimaliseren. Of het nu gaat om
    codebases, mijn persoonlijke Zettelkasten-systeem in Obsidian of simpelweg
    de indeling van de keukenkastjes:
    <strong class="text-zinc-100 font-medium"
      >logische structuren aanbrengen en overzicht creëren is wat ik het liefste
      doe.</strong
    >
  </p>
  <p
    class="leading-7 md:leading-8 text-base md:text-lg text-pretty mb-5 text-zinc-400"
  >
    "Geef mij die refactor stories maar", roep ik tijdens de standup. Het
    vereenvoudigen van onnodig complexe code of het omzetten van duplicate code
    naar slimme herbruikbare componenten is waar ik energie van krijg.
  </p>
  <p
    class="leading-7 md:leading-8 text-base md:text-lg text-pretty mb-5 text-zinc-400"
  >
    Naast het ontwikkelen van mooie digitale producten, verdiep ik me ook volop
    in persoonlijke ontwikkeling en coaching. Ik heb veel ervaring in Scrum
    teams en
    <strong class="text-zinc-100 font-medium"
      >ik ben van nature een verbinder
    </strong>
    die verschillende perspectieven bij elkaar brengt en ervoor zorgt dat
    iedereen zich gehoord en gezien voelt.
  </p>
</section>
