<section class="mb-20">
  <h2 class="text-lg md:text-2xl font-semibold mb-1">Over mij</h2>
  <hr class="mb-4 border-zinc-600" />
  <p
    class="leading-7 md:leading-8 text-base md:text-lg text-pretty mb-3 text-zinc-400"
  >
    Ik ben een ervaren
    <strong class="text-zinc-100 font-medium">front-end developer</strong> met
    interesse in zowel
    <strong class="text-zinc-100 font-medium">techniek</strong> als in
    <strong class="text-zinc-100 font-medium">mensen</strong>. Naast het
    ontwikkelen van mooie digitale producten, verdiep ik me ook volop in
    <strong class="text-zinc-100 font-medium"
      >teamdynamiek, coaching en persoonlijke ontwikkeling.</strong
    >
  </p>
  <p
    class="leading-7 md:leading-8 text-base md:text-lg text-pretty mb-5 text-zinc-400"
  >
    Ik heb veel ervaring binnen scrum teams en ben van nature een
    <strong class="text-zinc-100 font-medium">verbinder</strong> die
    verschillende perspectieven bij elkaar brengt en ervoor zorgt dat iedereen
    zich gehoord en gezien voelt.
    <strong class="text-zinc-100 font-medium"
      >Ik help teams groeien, ontwikkelen en verbeteren.</strong
    >
  </p>
  <p
    class="leading-7 md:leading-8 text-base md:text-lg text-pretty mb-5 text-zinc-400"
  >
    Ben jij op zoek naar een
    <strong class="text-zinc-100 font-medium">scrum master</strong> die met
    toewijding, enthousiasme en een oplossingsgerichte aanpak teams kan
    begeleiden in hun groei?

    <strong class="text-zinc-100 font-medium">
      <a
        class="underline"
        href="https://www.linkedin.com/in/anne-korteweg"
        target="_blank"
      >
        Let's connect!
      </a>
    </strong>
    🚀
  </p>
</section>
