<header class="mb-10 md:mb-20">
  <nav class="w-full flex justify-end">
    <a
      class="hover:bg-zinc-800 hover:border-zinc-600 border border-transparent p-2 rounded-md transition"
      href="https://github.com/annenas"
      target="_blank"
    >
      <img src="/assets/icons/github.svg" alt="Github icon" />
    </a>
    <a
      class="hover:bg-zinc-800 hover:border-zinc-600 border border-transparent p-2 rounded-md transition"
      href="https://www.linkedin.com/in/anne-korteweg"
      target="_blank"
    >
      <img src="/assets/icons/linkedin.svg" alt="Linkedin icon" />
    </a>
  </nav>
</header>
